html, body{
    margin: 0;
    padding: 0;

}
.navbar{
    background-color: #070B34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo img{
    width: auto;
    height: 5rem;
    flex-shrink: 0;
}

.language-selector img{
    width: auto;
    height: 5rem;
    flex-shrink: 0;
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.navbar li a{
    color: #ffd33c;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.navbar li a:hover{
    background-color: #ffd33c;
    color: #070B34;
    border-radius: 10px;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #ffd33c;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
}